In [1]:
import pandas as pd

df = pd.read_csv('Titanic-Dataset.csv')

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:

passengers = df['PassengerId'].count()
print(passengers)

891

In [3]:
avg_age = df['Age'].mean()
print(avg_age)

29.69911764705882

In [4]:
male = df[df['Sex'] == "male"]
female = df[df['Sex'] == "female"]

print ("Male Passengers = ",male['Sex'].count())
print ("Female Passengers = ", female['Sex'].count())

Male Passengers =  577
Female Passengers =  314

In [5]:
survival_rate = df['Survived'].mean() * 100
print(survival_rate)

38.38383838383838

In [6]:
male_survival_rate = df[df['Sex'] == "male"]
female_survival_rate = df[df['Sex'] == "female"]

print(male_survival_rate['Survived'].mean() * 100)
print(female_survival_rate['Survived'].mean() * 100)

18.890814558058924
74.20382165605095

In [13]:
classes = df.groupby('Pclass')['PassengerId'].count()
print(classes)

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [14]:
class_survival_rate = df.groupby('Pclass')['Survived'].mean() * 100
print(class_survival_rate)

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [16]:
avg_fare = df.groupby('Pclass')['Fare'].mean()
print(avg_fare)

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [22]:
Family_Members = df['SibSp'] + df['Parch']
passengers_wth_family = df[df["Family_Members"] > 0]
print(passengers_wth_family['PassengerId'].count())

354

In [23]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Members
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,False

In [2]:
#for age column we can use mean to fill up the missing spaces
avg_age = df['Age'].mean()
df['Age'].fillna(avg_age, inplace=True)

#For cabin we can replace null values with a placeholder
df['Cabin'].fillna('Unknown', inplace=True)

C:\Users\Taha\AppData\Local\Temp\ipykernel_17576\1676187209.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(avg_age, inplace=True)
C:\Users\Taha\AppData\Local\Temp\ipykernel_17576\1676187209.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna('Unknown', inplace=True)